@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2153 0.117853 295.5783);
    --home: linear-gradient(
    to right,
    oklch(0.935 0.028 253.5),   /* Tailwind blue-50  */
    oklch(0.895 0.055 265.2)    /* Tailwind indigo-100 */
  );

    --card: oklch(0.9821 0 0);
    --card-foreground: oklch(0.9395 0.0177 328.5);

    --popover: oklch(0.5071 0.2701 293.4 / 30.2%);
    --popover-foreground: 222.2 84% 4.9%;

    --primary: oklch(0.4839 0.2625413466109697 288.0228952330357);
    --primary-foreground: oklch(0.3582 0.1829 295.26);

    --secondary:  oklch(39.512% 0.19204 296.528 / 0.87);
    --secondary-foreground: oklch(90.743% 0.00752 311.782 / 0.851);

    --accent: oklch(69.39% 0.01055 17.001);
    --accent-foreground: oklch(0.9521 0 0);

    --destructive: oklch(0.9842 0.0101 311.18);
    --destructive-foreground: oklch(0.9842 0.0101 311.18);

    --border: oklch(0.8047 0 0);
    --input: oklch(0.8047 0 0);
    --ring: oklch(0.4839 0.2625413466109697 288.0228952330357);

    --muted: oklch(52.186% 0.00628 16.839);
    --succsess: oklch(0.7069 0.1511 163.06);
    --danger: oklch(51.486% 0.20864 27.614);
    --main: oklch(0 0 0);

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --home:linear-gradient(
    to right,
    oklch(0.282 0.091 267.935), /* Tailwind blue-950   */
    oklch(0.257 0.090 281.288)  /* Tailwind indigo-950 */
  );

  --card: hsl(222.2 84% 4.9%);
  --card-foreground: hsl(210 40% 98%);

  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);

  --primary: hsl(269, 72%, 64%);
  --primary-foreground: hsl(280, 59%, 82%);

  --secondary: hsl(273, 33%, 95%);
  --secondary-foreground: hsl(287, 79%, 87%);

  --muted: hsl(270, 6%, 53%);
  --muted-foreground: hsl(215 20.2% 65.1%);

  --accent: hsl(280, 31%, 83%);
  --accent-foreground: hsl(210 40% 98%);

      --danger: oklch(90.387% 0.19795 111.038);


  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(210 40% 98%);

  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  --ring: hsl(212.7 26.8% 83.9%);

  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground ;
  }

  .span-style {
    @apply text-primary font-semibold;
  }

  .animation-style {
    @apply transition-all duration-200 ease-out;
  }
}

.active {
  color: var(--primary);
  font-weight: bold;
  position: relative;
  
}

.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 90%;
  margin-left: 5%;
  height: 4px;
  background-color: var(--background);
  border-radius: 15%;
}

.not-active {
  color: var(--secondary);
  transition: 0.2s;
}

.not-active:hover {
  color: var(--foreground);
}
